/* CSS RESET */
*{
    margin: 0;
    padding: 0;
}

/* CSS VARIABLES */
:root {

    --nav-height: 45px;
}

/* NAVIGATION BAR */
#nav {
    
    display: flex;
    flex-basis: 1e-9px;
    position: sticky;
   
      
}

#nav::before{
    content: "";
    background-color:   rgb(2, 16, 1);
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.7;
    
}

/* NAVIGAION BAR: Logo AND Image */
#logo{
    margin: -27px 10px;
    
    
}

#logo img{
    height: 130px;
    margin: -4px -7px;
   
    
   
}
/* NAVIGATION BAR: List Styling */
#nav ul{
    display: flex;
    align-items: center;
    
}



#nav ul li{
    list-style: none;
    margin: 0 10px;
    font-size: 1rem;
}

#nav ul li a{
    color: white;
    display: flex;
    padding: 3px 3px;
    border-radius: 10px;
    text-decoration: none;
}

#nav ul li a:hover{
    color: black;
    background-color: white;
}


/* Home Content */

#video1 {
    position: relative;
}

/* Video Styles */
#video1 video{
    width: 100%;
    height: auto;
}

/* Overlay Text Styles */
.overlay-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    position: absolute;
}

.overlay-text h1 {
    font-size: 2em;
}

/* Hide Video Controls */
#video-container video::-webkit-media-controls {
    display: none !important;
}

.overlay-text pre{
    font-size: 1em;
    text-transform: uppercase;
}